:root {
  --black: #000000;
  --white: #ffffff;

  /* NBA */
  --nbaBlue: #1d428a;
  --nbaRed: #c8102e;
  --white: #ffffff;

  /* Atlanta Hawks */
  --hawkRed: #E03A3E;
  /* --hawkGreen: #C1D32F; */
  --hawkBlack: #26282A;

  /* Boston Celtics */
  --celticGreen: #007A33;
  --celticGold: #BA9653;
  /* --celticBrown: #963821;
  --black: #000000;
  --white: #ffffff; */

  /* Brooklyn Nets */
  --black: #000000;
  --white: #ffffff;
  --gray: #777D84;

  /* Charlotte Hornets */
  --hornetTeal: #00788C;
  /* --hornetPurple: #1D1160; */
  --gray: #777D84;

  /* Chicago Bulls */
  --black: #000000;
  /* --white: #ffffff; */
  --bullRed: #CE1141;

  /* Cleveland Cavaliers */
  /* --black: #000000; */
  --cavGold: #FDBB30;
  /* --cavBlue: #041E42; */
  --cavRed: #860038;

  /* Dallas Mavericks */
  --mavsBlueL: #00538C;
  /* --mavsBlueD: #002B5C; */
  --mavsSilver: #B8C4CA;
  /* --black: #000000; */

  /* Denver Nuggets */
  --nugsBlueL: #1D428A;
  /* --nugsBlueD: #0E2240; */
  --nugsYellow: #FEC524;
  /* --nugsRed: #8B2131; */

  /* Detroit Pistons */
  --pistonBlueL: #1D42BA;
  /* --pistonBlueD: #002D62; */
  --pistonRed: #C8102E;
  /* --pistonGrey: #BEC0C2;
  --white: #ffffff; */

  /* Golden State Warriors */
  --warriorBlue: #1D428A;
  --warrriorYellow: #FFC72C;
  /* --white: #ffffff; */

  /* Houston Rockets */
  --rocketRed: #CE1141;
  --rocketGrayL: #C4CED4;
  /* --rocketGrayD: #373a36;
  --black: #000000;
  --white: #ffffff; */

  /* Indiana Pacers */
  --pacerBlue: #002D62;
  --pacerGold: #FDBB30;
  /* --pacerGray: #BEC0C2; */

  /* LA Clippers */
  --clipRed: #C8102E;
  --clipBlue: #1D428A;
  /* --clipGray: #BEC0C2;
  --black: #000000;
  --white: #ffffff; */

  /* LA Lakers */
  --lakePurple: #552583;
  --lakeYellow: #FDB927;
  /* --black: #000000; */

  /* Memphis Grizzlies */
  --grizzBlueL: #5D76A9;
  --grizzGold: #F5B112;
  /* --grizzBlueD: #12173F;
  --grizzGray: #707271; */


  /* Miami Heat */
  --heatRed: #98002E;
  --heatGold: #F9A01B;
  /* --black: #000000;
  --white: #ffffff; */

  /* Milwaukee Bucks */
  --buckGreen: #00471B;
  --buckCream: #EEE1C6;
  /* --buckBlue: #0077C0;
  --black: #000000;
  --white: #ffffff; */

  /* Minnesota Timberwolves */
  --wolfBlueL: #236192;
  --wolfGreen: #78BE20;
  /* --wolfBlueD: #0C2340;
  --wolfGrey: #9EA2A2;
  --white: #ffffff; */

  /* NO Pelicans */
  --peliBlue: #0C2340;
  --peliGold: #85714D;
  /* --peliRed: #C8102E;
  --white: #ffffff; */

  /* NY Knicks */
  --knickBlue: #006BB6;
  --knickOrange: #F58426;
  /* --knickGray: #BEC0C2;
  --black: #000000;
  --white: #ffffff; */

  /* OKC Thunder */
  --okcBlueL: #007AC1;
  --okcOrange: #EF3B24;
  /* --okcBlueD: #002D62;
  --okcYellow: #FDBB30; */

  /* Orlando Magic */
  --magicBlue: #0077C0;
  --magicSilver: #C4CED4;
  /* --black: #000000; */

  /* Philly 76 */
  --sevenRed: #ED174C;
  --sevenBlueL: #006BB6;
  /* --sevenBLueD: #002B5C;
  --sevenSilver: #C4CED4;
  --white: #ffffff; */

  /* Phoenix Suns */
  --sunPurple: #1D1160;
  --sunOrange: #E56020;
  /* --sunYellow: #F9AD1B;
  --sunGray: #63727A;
  --black: #000000; */

  /* Portland Trail Blazers */
  --blazeRed: #E03A3E;
  --black: #000000;
  /* --white: #ffffff; */

  /* Sacramento Kings */
  --kingPurple: #5A2D81;
  --kingGray: #63727A;
  /* --black: #000000; */

  /* San Antonio Spurs */
  --spurSilver: #C4CED4;
  --black: #000000;

  /* Toronto Raptors */
  --rapRed: #CE1141;
  --black: #000000;
  /* --rapSilver: #A1A1A4;
  --rapGold: #B4975A;
  --white: #ffffff; */

  /* Utah Jazz */
  --jazzYell: #fff21f;
  --black: #000000;

  /* Washington Wizards */
  --wizRed: #E31837;
  --wizBlue: #002B5C;
  /* --wizGray: #C4CED4; */
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

#navName:hover {
  color: var(--nbaRed);
}

#colorHov:hover{
  color: var(--nbaRed);
}

.loginSignLogout{
  color:white;
}

.loginSignLogout:hover {
  color: var(--nbaRed);
}

.mb-3 button {
  background-color: red;
}

.welcomeMain {
  text-align: center;
}

#welcomeLog {
  font-size: 3vw;
  color: var(--nbaRed);
}

#notifyLog {
  color: var(--nbaBlue);
}

#playersPic {
  border-radius: 15px;
  box-shadow: 0px 0px 15px 15px #1a1b29;
}

/* #courtPic {
  border-radius: 15px;
  box-shadow: 0px 0px 15px 15px #1a1b29;
} */

.leftHalf {
  width: 50%;
  background-color: navajowhite;
  height: 100%;
  float: left;
}

.rightHalf {
  width: 50%;
  background-color: green;
  height: 100%;
  float: right;
}

#welcomeFoot {
  color: var(--nbaRed);
  position: absolute;
  bottom: 0;
  width: 100%;
}

#teamSearchBtn{
  background-color: var(--nbaBlue);
}

#teamSearchBtn:hover{
  background-color: var(--nbaRed);
}

#teamSearchBox:focus{
  box-shadow: 0 0 4px 1px var(--nbaBlue);
  border-color: var(--nbaBlue);
}

#favTeamH1{
  text-align: center;
}

.teamsList{
  display: flex;
  justify-content: space-around;
}